.card-item--genres > .ant-btn {
  margin-top: 4px;
  margin-right: 4px;
  font-size: 12px;
  cursor: default;
}
.ant-btn.ant-btn-background-ghost[disabled] {
  color: rgba(0, 0, 0, 0.7);
  border-color: #d9d9d9;
  background-color: #fafafa;
}
