form {
  width: 100%;
  padding: 10px 36px;
}

.ant-input {
  line-height: 22px;
  padding: 9px 12px;
}
.ant-input-clear-icon, .anticon.ant-input-clear-icon {
  font-size: 14px;
  color: #1890ff;
}
@media (min-width: 420px) and (max-width: 767px) {
  form {
    padding: 10px 16px;
  }
}
